
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>User update</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Введите имя">
    <br/>
    <label for="login">login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Введите  login">
    <br/>
    <label for="pass">password</label>
    <input type="text" th:field="*{pass}" id="pass" placeholder="Введите password">
    <br/>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Введите email">

    <input type="submit" value="Update User">
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<meta charset="UTF-8">-->
<!--<title>Category update</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="#" th:action="@{/category-update}" th:object="${category}" method="post">-->
<!--    <label for="id">ID</label>-->
<!--    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">-->
<!--    <br/>-->
<!--    <label for="name">name</label>-->
<!--    <input type="text" th:field="*{name}" id="name" placeholder="Введите название категории">-->
<!--    <br/>-->

<!--    <input type="submit" value="Update Category">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
