<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>User update</title>
</head>
<body>
<form action="#" th:action="@{/category-update}" th:object="${category}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Введите название категории">
    <br/>

    <input type="submit" value="Update Category">
</form>
</body>
</html>